@import './antd.css';

html,body,.fullHeight {
  height:100%
}

body {
  height:100%
}

.login-bg{
  /* background-color: #6fb6fa; */
  background-image:url('/dist/assets/images/hero-back-large-desktop.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 300px;
}
.login-form .title {
  display: block;
  padding:0 0 10px;
  font-size: 20px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-carousel .slick-slide {
  overflow: hidden;
  margin:0 auto;
  object-fit: cover;
}

.menu-span a{
  color:#fff!important;
}

a:hover {
  color:#fff
}

img {
  object-fit: cover;
  margin:0 auto;
}

.defaultHeader {
  position:fixed;
  width: 100%;
  z-index: 100;
  background-color: #198fff;
}

.list {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 760px;
}

.list div {

}

.defaultHeader>ul{
  text-decoration: none;
  display: flex;
  margin:10px 0;
  padding:0;
  justify-content: space-around;
}

.defaultHeader ul{
  padding:0;
}

.defaultHeader ul li{
  list-style: none;
  margin:0 auto;
  text-align: center;
}

.defaultHeader a,.defaultHeader a:hover {
  color:#eee;
  text-decoration: none;
}

.carouselDefault {
  overflow: hidden;
}

.footer {
  text-align: center;
}

.text-center {
  text-align: center;
}

.carousel .grid4  {
  background-image: url('/dist/assets/images/hero-back-large-desktop.png');
  background-repeat: no-repeat;
  font-size: 16px;
}

.carousel .grid3  {
  background-image: url('/dist/assets/images/hero-back-large-desktop.png');
  background-repeat: no-repeat;
  text-align: center;
}

.chr-hero__image  {
  width: 200px;
}

.carouselDiv {
  padding-top:120px;
}

.carouselDiv .title {
  font-weight: bold;
}
